@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&family=Raleway:wght@300&family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    
}

body{
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(90deg, rgba(43, 41, 34, 0.99) 0%, rgba(63, 81, 181, 1) 35%, rgba(0, 188, 212, 1) 53%, rgba(26, 8, 147, 1) 97%);
}

.container{
    width: 90%;
    max-width: 450px;
}

.heading{
    color: #002B5B;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2rem;
    text-align: center;
}

.display-container{
    background-color: purple;
    position: relative;
    border-radius: 1rem;
    border-bottom: 0.35rem solid black;
    margin:1rem 0;
    padding-top:0.35rem;
    
}
.display{
    background-color: transparent;
    border:none;
    width:100%;
    font-size:1.5rem;
    font-weight:600;
    color:yellow;
    line-height: 30px;
    letter-spacing: 1px;
    padding:1.15rem 1rem;
    padding-right: 3.25rem;
    
   
}

.display::placeholder{
    position: absolute;

    left:1.5rem; 
    font-size:1.5rem;
    font-weight:600;
    color:yellow;
    opacity: 0.65;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.display-container button{
    background: none;
    position: absolute;
    top:35%;
    right:1.2rem;
    border:none;

}

.input-container{
    width:100%;
    background-color: purple;
    border-radius: 1.2rem;
    padding:2rem;
    border-bottom: 0.35rem solid black;
}

.length-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.length-container p:nth-child(1){
    color:green;
     font-size:1.5rem;
}

.length-container p:nth-child(2){
    color:yellow;
     font-size:1.5rem;
}

.strength-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:1.75rem;
    margin-bottom: 2rem;
}

.strength-container p{
    color:white;
    font-size:1.5rem;
}

.indicator{
    height: 1.5rem;
    width:1.5rem;
    border-radius:50px;
     

}

.generateButton{
    width:100%;
    padding:1rem 0;
    background-color: gray;
    border-radius: 0.75rem;
    border-bottom: 0.35rem solid black;
    color:yellow;
    text-transform: uppercase;
    font-weight:600;
    font-size:1.25rem;
    text-align: center;
    cursor: pointer;
}

.check{
    display: flex;
    align-items: center;
    margin:1rem 0;
    gap: 0 1rem;
}

.check input{
    appearance: none;
    width:20px;
    height:20px;
    cursor:pointer;
    position: relative;
    border:1px solid white;
    border-radius:0.35rem;
}

.check input:checked{
    background-color: aqua;
}

.check input:checked::before{
    content: '✓';
    position: absolute;
    color:black;
    font-weight: 600;
    font-size: 1.05rem;
    left:50%;
    top:-3.5px;
    transform: translateX(-50%) translateY(25%);
}

.check label{
    color:white;
    font-size:1.25rem;
    letter-spacing: 0.75px;
}

.slider{
    appearance: none;
    width:100%;
    height:0.75rem;
    background-repeat: no-repeat;
    cursor:pointer;
    background-color: darkviolet;
    border-radius: 1rem;
    margin-top:2rem;
    margin-bottom: 1.5rem; 
    background-image: linear-gradient(90deg, rgba(238, 130, 238, 1) 0%, rgba(255, 255, 0, 1) 100%);

}

.slider::-webkit-slider-thumb{
    appearance: none;
    height:2rem;
    width:2rem;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -3px;
    box-shadow: 0px 0px 20px 0px;
    transition: all 100ms ease-in;
    color:yellow;
    background-color: yellow;
    position: relative;

}

.slider:focus{
    outline:3px solid yellow;
}

.slider::-webkit-slider-thumb:hover{
    outline :3px solid yellow;
    background-color: black;
}

.copied{
    background-color: darkviolet;
    color:yellow;
    padding:0.5rem 0.5rem;
    border-radius:4rem;
    position: absolute;
    /* top:-120%; */
    right:-50%;
    top:-50%;
    transform: translateY(-70%);
    opacity:0.6;
    transition: all 100ms easein;
    font-size: larger;
    font-weight: bolder;
    scale:0;
}

.active{
    scale:1;
}